**TASK 1**

IMPORTING REQUIRED LIBRARIES

In [ ]:
import numpy as np
import pandas as pd

CREATING A DICTIONARY TO FORM A DATAFRAME

In [ ]:
dict1={'Date 1':['05-01-2020','Jan 13, 2020','16/01/2020','32-01-2020'],'Date 2':['02/02/2020','03.02.2020','04.02.2020','Feb 16, 2020'],'Date 3':['02032020','12/03/2020','17-03-2020','20032020']}

In [ ]:
df1=pd.DataFrame(dict1)

In [ ]:
df1

         Date 1        Date 2      Date 3
0    05-01-2020    02/02/2020    02032020
1  Jan 13, 2020    03.02.2020  12/03/2020
2    16/01/2020    04.02.2020  17-03-2020
3    32-01-2020  Feb 16, 2020    20032020

CREATING A USER DEFINED FUNCTION FOR THE DATE COLUMN

In [ ]:
def DateFunction(data,day_first=True):
    col=data.columns   # Getting the column names of the data frame
    for i in col:      # creating a for loop to convert all the columns having date into a specified datetime format
        data[str(i)]=pd.to_datetime(data[str(i)],errors='coerce',dayfirst=day_first) # invalid dates will be converted to NaT
        
    for k in range(len(col)+1): # adding columns where the difference of the date columns will be stored
        if k<(len(col)-1):
            data[str(k+1)+'-'+str(k+2)]=data.iloc[:,k].subtract(data.iloc[:,k+1]) # subtracting two columns of the data frame
        else:
            data[str(len(col)-k)+'-'+str(k+1)]=data.iloc[:,k-(len(col)-1)]-data.iloc[:,k] # subtracting the first and last column of the dataframe
            break  # breaking the loop as soon as the condition is met
    print(data)

In [ ]:
DateFunction(data=df1,day_first=True)

      Date 1     Date 2     Date 3      1-2      2-3      1-3
0 2020-01-05 2020-02-02        NaT -28 days      NaT      NaT
1 2020-01-13 2020-02-03 2020-03-12 -21 days -38 days -59 days
2 2020-01-16 2020-02-04 2020-03-17 -19 days -42 days -61 days
3        NaT 2020-02-16        NaT      NaT      NaT      NaT

**TASK 2**

CREATING ANOTHER DICTIONARY TO FORM A DATA FRAME

In [ ]:
dict2= {'A':[1.2,8.6,3,2.8],'B':[9,6,0,7.7],'C':[5,1,2,0]}
df2= pd.DataFrame(dict2)
df2

     A    B  C
0  1.2  9.0  5
1  8.6  6.0  1
2  3.0  0.0  2
3  2.8  7.7  0

CREATING A USER DEFINED FUNCTION TO DROP THE VARIABLES FROM A DATAFRAME BASED ON THE PEARSON CORRELATION

In [ ]:
def PearsonCorrelation(data):
    correlation=data.corr() # The default method is pearson for this correlation function 
    col=data.columns # Getting all the column names in the data frame
    for i in col:    # creating a for loop to filter out the columns whose pearson correlation is greater than 0.85 
        filter1= correlation[str(i)][correlation[str(i)] > 0.85]  # here we have not taken the absolute value of correlations because doing so will seggregate many more variables
        
        break  # breaking the loop as soon as we are meeting the condition
    dict1= dict(filter1)  # creating a dictionary of the filtered variables
    key=list(dict1.keys()) # getting the list of filtered column names in the form of keys
    print('Dropping columns:',key) 
    data=data.drop(columns=key) # dropping the filtered columns(those which are having correlation greater than 0.85)
    print(data.head()) # printing the new dataframe

In [ ]:
PearsonCorrelation(data=df2)

Dropping columns: ['A']
     B  C
0  9.0  5
1  6.0  1
2  0.0  2
3  7.7  0